@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as *;

.item-form {

    &__details, &__availability {
        display: flex;
        flex-direction: column;
        border-top: 1px solid c.$color-secondary-cloud;
        padding: 1rem 1.5rem 0;
    }

    &__textarea {
        resize: none
    }


    &__title {
        padding-bottom: 1.5rem;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }

    &__label {
        font-weight: 600;
        font-size: 13px;
        line-height: 20px;
        color: c.$color-primary-black;
        padding-bottom: 0.25rem;
    }

    &__input {
        padding: 0.5rem 1rem;
        border: 1px solid #BDC5D5;
        border-radius: 20px;
        margin-bottom: 1rem;
    }

    &__textarea {
        padding: 0.5rem 1rem;
        border: 1px solid #BDC5D5;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom: 1rem;
    }

    &__dropdown {
        padding: 0.5rem 1rem;
        border: 1px solid #BDC5D5;
        box-sizing: border-box;
        border-radius: 20px;
        margin-bottom: 1.5rem;
    }

    &__radios {
        display: flex;
        padding-bottom: 1rem;
    }

    &__radio-label {
        width: 50%;
    }

    
    &__radio-option {
        margin-right: 0.5rem;
        width: 1rem;
        height: 1rem;
    }



    &__dropdown {
        appearance: none;
        background-image: url('../../assets/icons/arrow_drop_down-24px.svg');
        background-repeat: no-repeat;
        background-position: 98% 50%;
    }

    &__footer {
        display: flex;
        background: rgba(247, 248, 249, 0.7);
        border-radius: 0px 0px 3px 3px;
        padding: 1rem;
    }

    &__cancel, &__submit {
        width: 50%;
        height: 36px;
        font-weight: 600;

        @include tablet {
            height: 38px;
        }
    }

    &__cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        border: 1px solid c.$color-secondary-cloud;
        background-color: c.$color-primary-white;
        font-size: 13px;
        line-height: 20px;
        color: c.$color-secondary-slate;
        margin-right: 1rem;
    }

    &__submit {
        background-color: c.$color-primary-indigo;
        border-radius: 20px;
        box-sizing: border-box;
        border: none;
        color: c.$color-primary-white;
    }

    &__submit:hover {
        background-color: c.$color-background-graphite;
        cursor: pointer;
    }
}