
//Primary Colors
$color-primary-black: #13182C;
$color-primary-indigo: #2E66E5;
$color-primary-white: #FFFFFF;

//Secondary Colors
$color-secondary-slate: #5C667E;
$color-secondary-cloud: #BDC5D5;

//Background Colors
$color-background-dark: #232940;
$color-background-light: #F7F8F9;

//Supporting Colors
$color-supporting-green: #158463;
$color-supporting-red: #C94515;

