@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as *;

.warehouse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid c.$color-secondary-cloud;
    

    &__name, &__contact-name, &__contact-info, &__address {
    width: 40%;
    box-sizing: border-box;
    padding-top: 1rem;
    }

    &__name::before, &__contact-name::before, &__contact-info::before, &__address::before {
    content: attr(data-label);
    color: c.$color-secondary-slate;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
   
    
        @include tablet {
            content: none;
        }
    }

    &__name {
        order: 1;
        padding-left: 1rem;
    }

    &__contact-name {
        order: 2;  
        padding-right: 1rem;
    } 

    &__address {
       order: 3;
       padding-left: 1rem;
    }

    &__contact-info {
        order: 4;
        padding-right: 1rem;
    }

    &__actions {
        order: 5;
        padding: 1rem 1rem 1.5rem;
    }

   

    &__link {
       display: block;
       color: c.$color-primary-indigo;
       font-weight: 600;
        font-size: 13px;
        line-height: 20px;
    }

   &__text {
        color: c.$color-primary-black;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
   }

   &__actions {
       width: 100%;
       display: flex;
       justify-content: space-between;
   }
    
}