@use "../../styles/partials/colors" as c;
@use "../../styles/partials/mixins" as *;

.warehouse-table {
    width: 100%;
    
    @include tablet {
        padding: 0 1.5rem;
    }

    &__head {
        display: none;
        

        @include tablet {
            display: block;
        }
    }

    &__row {
        @include tablet {
            display: flex;
            justify-content: space-between;    
        }
        
    }
}